<div class="one-time-password-container">
    <h4>Informe o código enviado para o seu dispositivo móvel</h4>

    <form [formGroup]="oneTimePasswordForm">

        <div class="digit-inputs" formArrayName="digitInputs">
            <ng-container *ngFor="let input of digitInputs.controls; let i = index;">
                <input [disabled]="timedOut" autocomplete="off" matInput class="digitInput" type="text" name="digitInputs" maxlength="1" (keyup)="onInputChange($event, i)" id="{{i}}" />
            </ng-container>
        </div>
        
        <div class="code-expiration-time">
            <label>Expira em</label>&nbsp;
            <span countdown [targetDate]="expirationTime" (countdownComplete)="onCountdownComplete()" (countdownUpdate)="onCountdownUpdate($event)">
                {{remainingTime}}
            </span>
        </div>

        <div class="buttons">
            <button id="btnPostCode" [disabled]="!allCodeFieldsAreFilledIn" (click)="onSendCodeClick()" mat-raised-button color="accent">Enviar</button>
            <button (click)="onResendCodeClick()" [disabled]="!timedOut" mat-raised-button color="primary">Novo código</button>
        </div>

        <div>{{message$ | async}}</div>

    </form>
</div>
