.one-time-password-container {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    padding: 2rem 1rem;
}

h4 {
    color: #fff;
    align-self: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.digit-inputs {
    display: flex;
    justify-content: center;
}

.code-expiration-time {
    color: #fff;
    display: flex;
    justify-content: center;
}

.buttons {
    
    align-self: center;
    >button:not(:first-child) {
        margin-left: 0.5rem;
    }
}

.digitInput {
    background-color: #494949;
    color: #fff;
    text-align: center;
    border: 2px solid rgb(194, 24, 91);
    border-radius: 10%;
    font-size: 2rem;
    width: 2rem;

    &:not(:first-child) {
        margin-left: 0.5rem;
    }

    &:focus {
        outline: none;
    }
}