<!--
https://material.angular.io/components/tabs/examples
-->
<mat-tab-group animationDuration="0ms" [selectedIndex]="0" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Formulário">
        <ldm-lead-form
        (cancel)="onCancelOperation($event)"
        (success)="onOperationSuccessful()"></ldm-lead-form>
    </mat-tab>
    <mat-tab [disabled]="false" label="Inserção em lote">
        <ldm-lead-bulk-insert-form
            (cancel)="onCancelOperation($event)"
            (success)="onOperationSuccessful()"></ldm-lead-bulk-insert-form>
    </mat-tab>
</mat-tab-group>