<mat-tab-group animationDuration="300ms" [selectedIndex]="activeTab" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab [disabled]="false" label="Em lote">
        <ldm-lead-bulk-insert-form
            (cancel)="onCancelOperation($event)"
            (success)="onOperationSuccessful()"></ldm-lead-bulk-insert-form>
    </mat-tab>
    <mat-tab label="Cadastro manual">
        <ldm-lead-form
        (cancel)="onCancelOperation($event)"
        (success)="onOperationSuccessful()"
        (leadSelected)="onLeadSelected()"></ldm-lead-form>
    </mat-tab>    
</mat-tab-group>