mat-card {
    height: 100%;
}

#new-lead {
    margin-bottom: 2rem;
}

.title,
.new-lead {
    color: #fff;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #ddd;
}

.delete {
    cursor: pointer;
}

.refresh-list-button-container {
    padding: 0 0.5rem 0.5rem 0
}

.no-data-message {
    color: #fff;
    margin: 0.5rem 0;
}

.invisible {
    display: none;
}