.spinner, .percentage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: gray, $alpha: 0.25);
    z-index: 0;
    
    * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    span {
        color: white;
        font-weight: bold;
        z-index: 1;
        width: 3.5rem;
        height: 3rem;
        text-align: center;
        margin: 1rem 0;
    }
}
