<h1 mat-dialog-title *ngIf="data.title">{{data.title}}</h1>
<div mat-dialog-content *ngIf="data.description">
  <p>{{data.description}}</p>
</div>
<div mat-dialog-content class="message-prompt">
  <p *ngIf="data.question">{{data.question}}</p>
</div>
<div mat-dialog-actions>
  <div *ngFor="let actionButton of data.actionButtons"
       class="action-button-container" 
       [ngClass]="actionButton.fullWidth ? 'center' : actionButton.horizontalPosition">
    <button 
      mat-button
      mat-flat-button
      [matTooltipDisabled]="actionButton.tooltip === null"
      [matTooltip]="actionButton.tooltip?.text ?? ''"
      [matTooltipPosition]="actionButton.tooltip?.position ?? 'right'"
      [color]="actionButton.matColor"
      (click)="actionButton.action()"
      [class.full-width]="actionButton.fullWidth">{{actionButton.caption}}</button>
  </div>
</div>